:root {
  --f-size: 15px;
  --ff-heading: 'Big Shoulders Display', cursive;
  --ff-text: 'Lexend Deca', sans-serif;
  --c-body: hsl(0, 0%, 95%, 100%);
  --c-text: hsla(0, 0%, 100%, 0.75);
  --c-detail: hsl(0, 0%, 95%);
  --c-sedans: hsl(31, 77%, 52%);
  --c-suvs: hsl(184, 100%, 22%);
  --c-luxury: hsl(179, 100%, 13%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--c-body);
  font-family: var(--ff-text);
  font-size: var(--f-size);
  color: var(--c-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards {
  max-width: 920px;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;

  .card {
    padding: 3rem;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;

    h2 {
      font-family: var(--ff-heading);
      font-size: 2.5rem;
      text-transform: uppercase;
    }

    p {
      line-height: 1.8rem;
      padding-bottom: 3rem;
    }

    a {
      padding: 0.8rem 1.6rem;
      border-radius: 2rem;
      text-decoration: none;
      background-color: var(--c-detail);
      border: 1px solid var(--c-detail);
    }
  }

  .sedans {
    background-color: var(--c-sedans);

    a {
      color: var(--c-sedans);
    }

    a:hover {
      color: var(--c-text);
      background-color: var(--c-sedans);
    }
  }

  .suvs {
    background-color: var(--c-suvs);

    a {
      color: var(--c-suvs);
    }

    a:hover {
      color: var(--c-text);
      background-color: var(--c-suvs);
    }
  }

  .luxury {
    background-color: var(--c-luxury);

    a {
      color: var(--c-luxury);
    }

    a:hover {
      color: var(--c-text);
      background-color: var(--c-luxury);
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;
  color: hsl(0, 0%, 0%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 775px) {
  body {
    height: auto;
    padding: 1.5rem;
  }
  .cards {
    max-width: 375px;
    flex-direction: column;
  }
}
